README.txt
codes/venv/
codes/go.mod
codes/templates/breed_plant.html
codes/templates/breed_plant_main.html
codes/go.sum
path/to/grow-plant-webapp-firebase-adminsdk-bf93i-cb28b9790b.json
codes/venv/Lib/site-packages/certifi/__pycache__/__init__.cpython-38.pyc
codes/venv/Lib/site-packages/certifi/__pycache__/core.cpython-38.pyc
codes/venv/Lib/site-packages/chardet/__pycache__/__init__.cpython-38.pyc
codes/venv/Lib/site-packages/chardet/__pycache__/big5freq.cpython-38.pyc
codes/venv/Lib/site-packages/chardet/__pycache__/big5prober.cpython-38.pyc
codes/venv/Lib/site-packages/chardet/__pycache__/chardistribution.cpython-38.pyc
codes/venv/Lib/site-packages/chardet/__pycache__/charsetgroupprober.cpython-38.pyc
codes/venv/Lib/site-packages/chardet/__pycache__/charsetprober.cpython-38.pyc
codes/venv/Lib/site-packages/chardet/__pycache__/codingstatemachine.cpython-38.pyc
codes/venv/Lib/site-packages/chardet/__pycache__/compat.cpython-38.pyc
codes/venv/Lib/site-packages/chardet/__pycache__/cp949prober.cpython-38.pyc
codes/venv/Lib/site-packages/chardet/__pycache__/enums.cpython-38.pyc
codes/venv/Lib/site-packages/chardet/__pycache__/escprober.cpython-38.pyc
codes/venv/Lib/site-packages/chardet/__pycache__/escsm.cpython-38.pyc
codes/venv/Lib/site-packages/chardet/__pycache__/eucjpprober.cpython-38.pyc
codes/venv/Lib/site-packages/chardet/__pycache__/euckrfreq.cpython-38.pyc
codes/venv/Lib/site-packages/chardet/__pycache__/euckrprober.cpython-38.pyc
codes/venv/Lib/site-packages/chardet/__pycache__/euctwfreq.cpython-38.pyc
codes/venv/Lib/site-packages/chardet/__pycache__/euctwprober.cpython-38.pyc
codes/venv/Lib/site-packages/chardet/__pycache__/gb2312freq.cpython-38.pyc
codes/venv/Lib/site-packages/chardet/__pycache__/gb2312prober.cpython-38.pyc
codes/venv/Lib/site-packages/chardet/__pycache__/hebrewprober.cpython-38.pyc
codes/venv/Lib/site-packages/chardet/__pycache__/jisfreq.cpython-38.pyc
codes/venv/Lib/site-packages/chardet/__pycache__/jpcntx.cpython-38.pyc
codes/venv/Lib/site-packages/chardet/__pycache__/langbulgarianmodel.cpython-38.pyc
codes/venv/Lib/site-packages/chardet/__pycache__/langcyrillicmodel.cpython-38.pyc
codes/venv/Lib/site-packages/chardet/__pycache__/langgreekmodel.cpython-38.pyc
codes/venv/Lib/site-packages/chardet/__pycache__/langhebrewmodel.cpython-38.pyc
codes/venv/Lib/site-packages/chardet/__pycache__/langthaimodel.cpython-38.pyc
codes/venv/Lib/site-packages/chardet/__pycache__/langturkishmodel.cpython-38.pyc
codes/venv/Lib/site-packages/chardet/__pycache__/latin1prober.cpython-38.pyc
codes/venv/Lib/site-packages/chardet/__pycache__/mbcharsetprober.cpython-38.pyc
codes/venv/Lib/site-packages/chardet/__pycache__/mbcsgroupprober.cpython-38.pyc
codes/venv/Lib/site-packages/chardet/__pycache__/mbcssm.cpython-38.pyc
codes/venv/Lib/site-packages/chardet/__pycache__/sbcharsetprober.cpython-38.pyc
codes/venv/Lib/site-packages/chardet/__pycache__/sbcsgroupprober.cpython-38.pyc
codes/venv/Lib/site-packages/chardet/__pycache__/sjisprober.cpython-38.pyc
codes/venv/Lib/site-packages/chardet/__pycache__/universaldetector.cpython-38.pyc
codes/venv/Lib/site-packages/chardet/__pycache__/utf8prober.cpython-38.pyc
codes/venv/Lib/site-packages/chardet/__pycache__/version.cpython-38.pyc
codes/venv/Lib/site-packages/click/__pycache__/__init__.cpython-38.pyc
codes/venv/Lib/site-packages/click/__pycache__/_compat.cpython-38.pyc
codes/venv/Lib/site-packages/click/__pycache__/_unicodefun.cpython-38.pyc
codes/venv/Lib/site-packages/click/__pycache__/_winconsole.cpython-38.pyc
codes/venv/Lib/site-packages/click/__pycache__/core.cpython-38.pyc
codes/venv/Lib/site-packages/click/__pycache__/decorators.cpython-38.pyc
codes/venv/Lib/site-packages/click/__pycache__/exceptions.cpython-38.pyc
codes/venv/Lib/site-packages/click/__pycache__/formatting.cpython-38.pyc
codes/venv/Lib/site-packages/click/__pycache__/globals.cpython-38.pyc
codes/venv/Lib/site-packages/click/__pycache__/parser.cpython-38.pyc
codes/venv/Lib/site-packages/click/__pycache__/termui.cpython-38.pyc
codes/venv/Lib/site-packages/click/__pycache__/types.cpython-38.pyc
codes/venv/Lib/site-packages/click/__pycach