README.txt
codes/venv/
codes/go.mod
codes/templates/breed_plant.html
codes/templates/breed_plant_main.html
codes/go.sum
codes/path/to/grow-plant-webapp-firebase-adminsdk-bf93i-cb28b9790b.json
codes/path/
codes/__pycache__
codes/go.sum
vemv/
memo.txt

