<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>植物を育てよう</title>
    <!--link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"
    /-->
    <link rel="stylesheet" href="./../static/css/home.css" />
  </head>
  <body>
    <h1>植物を育てよう</h1>
    <button class="btn-hov" id="start_btn">スタート</button>
    <button
      class="btn-hov"
      id="logout_btn"
    >
      ログアウト
    </button>
    <script src="https://unpkg.com/vue@next"></script>

    <div class="table">
      <div class="table-head">あなたの情報</div>
      <div class="table-body">
        <table class="table-main">
          <thead>
            <tr>
              <th>アイコン</th>
              <th>名前</th>
            </tr>
          </thead>
          <tbody>
            <th>
              <img src="{{.UserData.avatar_url}}" />
            </th>
            <th>{{.UserData.name}}</th>
          </tbody>
        </table>
      </div>
    </div>
  </body>
  <script></script>
</html>
