<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>植物を育てよう</title>
    <!--link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    /-->
    <!--google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./../static/css/login.css" />
  </head>
  <body>
    <div style="text-align: center">
      <div class="container">
        <img
          class="loginImage"
          src="https://firebasestorage.googleapis.com/v0/b/grow-plant-webapp.appspot.com/o/login.png?alt=media&token=2a2a3f0a-6e1f-4b09-8ea2-5e4ba037ec0a"
        />
        <div class="center">
          <div class="panel-title">
            <h2>ログイン画面</h2>
          </div>
          <div class="panel-body">
            <ul>
              <a
                href="http://127.0.0.1:8999/auth/login/google"
                {% comment %} デプロイ時に書き換える {% endcomment %}
                {% comment %} href="https://grow-plant-app.herokuapp.com/auth/login/google" {% endcomment %}
                style="font-size: 15pt"
                >Googleアカウントでログイン</a
              >
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script></script>
</html>
