/* 背景色の設定 */
body {
  /* background-color: rgb(204, 255, 247); */
  /* background-image: url(https://firebasestorage.googleapis.com/v0/b/grow-plant-webapp.appspot.com/o/background_test.png?alt=media&token=b035ddb3-16fc-4c6a-a34d-8a7a76fd1bb5); */
  /* background-image: url(https://firebasestorage.googleapis.com/v0/b/grow-plant-webapp.appspot.com/o/background.png?alt=media&token=ec0a9f35-9252-4c96-8a52-f99d0ae67b22); */
  /* background-size: cover; 背景画像のサイズ設定 cover:画像が画面全体に拡大される */
  background-size: 100vh, 100vw;
  font-family: "Yusei Magic", sans-serif;
  font-size: 22px;
}
.save-btn {
  display: inline-block;
  position: relative;
  left: 0;
  top: 25px;
  width: 120px;
  height: 30px;
  font-size: 12px;
}
.back-btn {
  display: inline-block;
  position: relative;
  left: 5%;
  top: 25px;
}
.change-seed {
  display: inline-block;
  position: relative;
  left: 10%;
  height: 50px;
  top: 25px;
}
.change-btn {
  display: inline-block;
  position: relative;
  left: 15%;
  top: 25px;
}
.btn {
  background-color: rgb(74, 240, 74);
  border-bottom: 5px solid #000400;
  border-radius: 100vh;
  cursor: pointer;
}
.btn:hover {
  background-color: #03a803;
  border-bottom: 2px solid #000400;
}
#save_btn {
  width: 120px;
  height: 50px;
  font-size: 22px;
  font-family: "Yusei Magic", sans-serif;
}

#back_btn {
  width: 150px;
  height: 50px;
  font-size: 22px;
  font-family: "Yusei Magic", sans-serif;
}
#change_seed {
  width: 200px;
  height: 50px;
  font-size: 18px;
  font-family: "Yusei Magic", sans-serif;
}
#chenge-seed-btn {
  width: 150px;
  height: 50px;
  font-size: 22px;
  font-family: "Yusei Magic", sans-serif;
}
#senti_level {
  color: rgb(0, 0, 0);
}

#life-frame {
  position: absolute;
  margin: 0 auto;
  width: 25vw;
  background-color: rgba(10, 0, 50, 0.6);
  display: flex;
  padding: 3px 3px;
  position: absolute;
  top: 80vh;
  left: calc(50% - 12.5vw);
}

#life-bar {
  height: 3px;
  /* background-color: rgb(157, 255, 0); */
  transition: 300ms;
}

#life-mark {
  width: 3px;
  height: 3px;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  filter: saturate(500%);
  /* box-shadow: 0 0 5px 3px rgb(200, 255, 255), 0 0 7px 7px rgb(0, 255, 0); */
}

#volume {
  width: 300px;
}

#btn {
  border-radius: 50%;
  line-height: 100px;
  width: 130px;
  height: 130px;
  padding: 0;
  box-shadow: 0 5px 0 #835501;
  background-color: orange;
  font-size: 20px;
  font-family: "Yusei Magic", sans-serif;
  cursor: pointer;
}
#btn:hover {
  transform: translate(0, 3px);
  box-shadow: 0 2px 0 #583900;
}
#change_seed {
  height: 25px;
  background-color: rgb(74, 240, 74);
  border-radius: 100vh;
}

#btn_mute_img {
  width: 50px;
  height: auto;
}

.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: 0.6s;
}

.popup.is-show {
  opacity: 1;
  visibility: visible;
}
.popup-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
  padding: 50px;
  background-color: #fff;
  z-index: 2;
}
.black-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  cursor: pointer;
}

#sunflower {
  position: relative;
  width: 20%;
  height: auto;
}
#tulips {
  position: relative;
  width: 20%;
  height: auto;
}
#cherry {
  position: relative;
  width: 20%;
  height: auto;
}

#voice_recognition {
  margin: 1em 0px; /* 上下に1em・左右に0px */
  line-height: 100%;
}

#showson {
  border: solid 1px black;
  position: relative;
  top: 50px;
  margin: 1em 0px; /* 上下に1em・左右に0px */
  line-height: 100%;
}

#senti_level {
  margin: 1em 0px; /* 上下に1em・左右に0px */
  line-height: 100%;
}

.pbox {
  /* border: solid 1px rgb(255, 0, 0); */
  display: flex;
  padding: 5px;
  height: 80vh;
}
.cbox {
  position: relative;
  /* border: solid 1px black; */
  vertical-align: middle;
  text-align: center;
  width: 100vw;
  height: 80vh;
  line-height: 100px;
}
.boxB {
  /* border: solid 1px rgb(140, 0, 255); */
  position: relative;
}
.plant-img {
  position: absolute;
  /* border: solid 1px black; */
  bottom: 40%;
  left: 30%;
  width: 35vh;
  height: 35vh;
}
.effect-img {
  position: absolute;
  /* border: solid 1px black; */
  bottom: 40%;
  left: 30%;
  width: 35vh;
  height: 35vh;
  /* animation: fadeIn 0.2s ease 0.3s 1 normal; */
}

.plant-life {
  position: absolute;
  /* border: solid 1px black; */
  width: 150px;
  top: 73vh;
  left: calc(50% - 75px);
}

#life {
  position: absolute;
  /* border: solid 1px black; */
  top: 73vh;
  width: 100px;
  left: calc(50% - 50px);
}

#cosmos {
  position: relative;
  width: 20%;
  height: auto;
}
#dandelion {
  position: relative;
  width: 20%;
  height: auto;
}
#palm {
  position: relative;
  width: 20%;
  height: auto;
}
#bamboo {
  position: relative;
  width: 20%;
  height: auto;
}
#cactus {
  width: 20%;
  height: auto;
}
#flytrap {
  width: 20%;
  height: auto;
}
#roselle {
  width: 20%;
  height: auto;
}
#rose {
  width: 20%;
  height: auto;
}
#pansy {
  width: 20%;
  height: auto;
}
.pic-book {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: 0.6s;
}
.pic-book.is-show {
  opacity: 1;
  visibility: visible;
}
.pic-book-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 1000px;
  padding: 50px;
  background-color: #fff;
  z-index: 2;
}
/*
.plant-explanation {
  border: solid 1px black;
}*/
.black-background-picbook {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  cursor: pointer;
}
#js-close-picbook {
  font-family: "Yusei Magic", sans-serif;
  font-size: 22px;
}
#js-close-btn {
  font-family: "Yusei Magic", sans-serif;
  font-size: 22px;
}
.result-close {
  font-family: "Yusei Magic", sans-serif;
  font-size: 22px;
}

#open-picbook {
  font-family: "Yusei Magic", sans-serif;
  font-size: 22px;
}
.book-img {
  position: relative;
  left: 35%;
}
.nx-pre-btn {
  position: relative;
  left: 45%;
}
.pic-book-fonts {
  font-family: "Yusei Magic", sans-serif;
}
.results {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: 0.6s;
}
.results.is-show {
  opacity: 1;
  visibility: visible;
}
.results-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 50%;
  padding: 50px;
  z-index: 2;
  background-color: #fff;
}
.black-background-result {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  cursor: pointer;
}
.recode-now {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: 0.6s;
}
.recode-now.is-show {
  opacity: 1;
  visibility: visible;
}
.recode-inner {
  position: absolute;
  left: 25%;
  top: 30%;
  transform: translate(-50%, -50%);
  width: 25%;
  height: 10%;
  padding: 10px;
  z-index: 2;
  background-color: white;
}
.recode-font {
  display: inline-block;
}
.black-background-recode{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  cursor: pointer;
}
.voice-result {
  position: relative;
  padding: 5px;
  left: 25%;
  top: 5%;
  width: 50%;
  height: 45%;
  background-color: white;
  border: 5px solid;
  border-color: rgb(105, 27, 27);
  z-index: 2;
}

h1 {
  font-family: "Otomanopee One", sans-serif;
}
.get-colors {
  font-family: "Yusei Magic", sans-serif;
}
.color-1 {
  display: inline-block;
  background-color: rgb(255, 0, 0);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid;
}
.color-2 {
  display: inline-block;
  background-color: yellow;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid;
}
.color-3 {
  display: inline-block;
  background-color: #ff5722;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid;
}
.color-4 {
  display: inline-block;
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid;
}
.color-5 {
  display: inline-block;
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid;
}
.color-6 {
  display: inline-block;
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid;
}
#js-close-picbook {
  margin: 10px;
  width: 10%;
}
.heart_area {
  position: relative;
  margin: auto;
  width: calc(min(10vh, 10vw));
  height: calc(min(10vh, 10vw));
}
#senti_heart {
  position: absolute;
  width: calc(min(10vh, 10vw));
  height: calc(min(10vh, 10vw));
  left: 0px;
  top: 0px;
  z-index: 2;
}
#heart_color {
  position: absolute;
  margin: auto;
  width: calc(min(10vh, 10vw));
  height: 0%;
  left: 0px;
  bottom: 0px;
  background: rgb(255, 0, 0);
  z-index: 1;
}
.results-plantimg {
  position: relative;
  top: 0;
  left: 50%;
}

.happy-meter {
  position: absolute;
  height: 10%;
  width: 100%;
  left: 0%;
  /* border: solid 1px black; */
  display: inline-block;
  margin: auto;
}
#empty_heart {
  /* border: solid 1px black; */
  position: absolute;
  left: calc(20% - min(4vh, 4vw));
  width: calc(min(4vh, 4vw));
  height: calc(min(4vh, 4vw));
}
#max_heart {
  /* border: solid 1px black; */
  position: absolute;
  left: 80%;
  width: calc(min(4vh, 4vw));
  height: calc(min(4vh, 4vw));
}
#happy-frame {
  position: absolute;
  margin: 0 auto;
  width: 50%;
  top: 30%;
  height: 5%;
  left: 25%;
  background-color: rgba(10, 0, 50, 0.6);
  padding: 3px 3px;
}
#happy-bar {
  position: absolute;
  top: 20%;
  height: 60%;
  width: 90%;
  left: 5%;
  background-color: rgb(255, 0, 0);
  transition: 300ms;
}

p {
  margin: 10px 10px;
  line-height: 100%;
}
.loader,
.loader:before,
.loader:after {
  background: #00ff11;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
  left: 50%;
}
.loader {
  display: inline-block;
  color: #00ff11;
  text-indent: -9999em;
  margin: 88px auto;
  position: absolute;
  top: -3.0em;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 3em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 4em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 3em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 4em;
  }
}
#result-close {
  font-family: "Yusei Magic", sans-serif;
  font-size: 22px;
}
#result-tweet {
  font-family: "Yusei Magic", sans-serif;
  font-size: 22px;
}
