/* 背景色の設定 */
body {
  /* background-color: rgb(204, 255, 247); */
  background-image: url(https://firebasestorage.googleapis.com/v0/b/grow-plant-webapp.appspot.com/o/background_test.png?alt=media&token=b035ddb3-16fc-4c6a-a34d-8a7a76fd1bb5);
  background-size: cover; /*背景画像のサイズ設定 cover:画像が画面全体に拡大される*/
}

#save_btn {
  width: 50px;
  height: 25px;
  font-size: 12px;
}

.titleback_btn {
  width: 130px;
  height: 25px;
  font-size: 12px;
}

#senti_level {
  color: rgb(0, 0, 0);
}

#life-frame {
  margin: 0 auto;
  width: 50%;
  background-color: rgba(10, 0, 50, 0.6);
  display: flex;
  padding: 3px 3px;
}

#life-bar {
  height: 3px;
  /* background-color: rgb(157, 255, 0); */
  transition: 300ms;
}

#life-mark {
  width: 3px;
  height: 3px;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  filter: saturate(500%);
  /* box-shadow: 0 0 5px 3px rgb(200, 255, 255), 0 0 7px 7px rgb(0, 255, 0); */
}

#volume {
  width: 300px;
}
