.loginImage {
  height: 70vh;
}

.container {
  position: relative;
  top: 120px;
}
.center {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
}
.panel-title {
  color: #000000;
}

.panel-body {
  color: #000000;
}
h2 {
  font-family: "Otomanopee One", sans-serif;
}
a {
  font-family: "Otomanopee One", sans-serif;
}